absl-py==2.1.0
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.8.1
astunparse==1.6.3
beautifulsoup4==4.12.3
bleach==6.2.0
boto3==1.42.17
botocore==1.42.17
cachetools==6.2.4
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.3.1
colorama==0.4.6
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
deprecation==2.1.0
dj-database-url==2.3.0
Django==5.1.2
django-bootstrap4==24.4
django-environ==0.12.0
django-storages==1.14.6
django-summernote==0.8.20.0
environ==1.0
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2025.12.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.64.1
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
h5py==3.11.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.7
jmespath==1.0.1
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.3.2
mmh3==5.2.0
multidict==6.7.0
mysql-connector==2.2.9
mysqlclient==2.2.6
namex==0.0.8
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
oracledb==2.4.1
packaging==24.1
pandas==2.2.2
pillow==10.3.0
portalocker==3.1.1
postgrest==2.27.0
propcache==0.4.1
protobuf==4.25.3
psycopg2-binary==2.9.11
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.18.0
pyiceberg==0.10.0
PyJWT==2.10.1
PyMySQL==1.1.1
pyparsing==3.1.2
pyroaring==1.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2024.1
pywin32==308
realtime==2.27.0
requests==2.32.3
rich==13.7.1
s3transfer==0.16.0
setuptools==70.1.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
storage3==2.27.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.27.0
supabase-auth==2.27.0
supabase-functions==2.27.0
tenacity==9.1.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.0.3
wheel==0.43.0
whitenoise==6.8.2
wrapt==1.16.0
yarl==1.22.0
